<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>We received a request to reset your password for your Review-It account.</p>
    <p>If you made this request, please click the link below to reset your password:</p>
    <p><a href='{{url}}' target='_blank'>Reset Password</a></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thank you,<br />The Review-It Team</p>
  </body>
</html>
