<h1>Welcome, {{name}}!</h1>
<p>Thank you for signing up for our service. We are excited to have you board.</p>
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD1OplF_NB5uuOM36IKk586asvXvLEQyQRSQ&s' />
